$primary-color: white;
$secondary-color: #f3e7ef;
$calc-text-color: #615a62;
$calc-bg-color: #a699b2;
$calc-bg-title-color: #c0afd0;
$bg-btn-color: #d0d0d8;
$bg-btn-number-color: #dbdbdb;
$bbg-btn-equal-color: #dfc2f1;
$bg-btn-hover-color: #c6c6c9;
